Data_collection.ipynb
All_csv_files/DataSet_extract_from_ChemBL/C__Users_Igorr_Documents_ITMO5grade_Project_with_Susan_activity_of_antibiotics (1).csv
All_csv_files/Extract_activity_203723/All_chembl_id (1).csv
